.news {
    width: 60vw;
    display: flex;
    margin: 1vw;
    height: 25vh;
    border-width: 1px;
    border-style: solid;
    padding: 1px;
    border-color: lightgray;
}

.newsImage{
    height: 100%;
    /*min-width: 12vw;*/
    width: 20%;
}

.newsHeader{
    position: relative;
    height: 20%;
    min-width: 80%;
    margin: 0;
    background-color: cornflowerblue;
}

.newsDate{
    right: 0;
    padding-right: 5%;
    display: inline;
    color: grey;
    position: absolute;
}

.newsTitle{
    display: inline;
}

.newsDescription{
    /*box-sizing: border-box;*/
    overflow: hidden;
    margin: 0 3% 0 1%;
    height: 80%;
    min-width: 80%;
    text-overflow: ellipsis;
    text-align: justify;
    text-indent: 3%;
}

.newsContent{
    min-width: 80%;
}

