
.pageHeader {
    direction: ltr;
    margin: 0;
    background-color: HoneyDew;
    max-height: 100px;
}

.pageLogo {
    padding: 10px;
    max-height: 80px;
}

.pageHeaderOption li {
    display: inline;
    font-size: 1.2em;
    padding: 10px;
    line-height: 50px;
}

.pageHeaderOption {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    background-color: darkslategray;
}